.lazy-load-image-background {
  &.blur {
    filter: blur(10px) !important;

    & > img {
      opacity: 0 !important;
    }

    &.lazy-load-image-loaded {
      filter: blur(0) !important;
      transition: filter 0.5s !important;

      & > img {
        opacity: 1 !important;
        transition: opacity 0.3s !important;
      }
    }
  }
}
